<!--<section class="hero is-medium"> 
<div class="hero-body has-background-white"> 
<div class="container has-text-centered"> 
<div class="column is-6 is-offset-3"> 
<img src="/images/logotransparent.png" alt="rss feed" width="240" height="240"/> 
<p class="subtitle is-3"> Nền tảng kết nối học sinh, sinh viên với các cơ hội việc làm. </p
><a class="button is-large is-fullwidth" href="/jobs/">Tìm việc làm cùng Jobpify</a> 
<br>
<p class="subtitle is-6">Hoặc đi đến trang <a href="users/sign_up/">đăng ký</a> để tạo tài khoản</p>
</div>
</div>
</div>
</section>
<section class"container"> 
<div class="hero-body has-background-white"> 
<div class="columns features"> 
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Giao diện tối giản và thân thiện.</h4>
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Trình soạn thảo trực tuyến hiện đại.</h4>
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Nhiều dịch vụ bổ trợ.</h4>
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
</div>
<div class="columns features"> 
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Tối ưu hóa quá trình tuyển dụng.</h4> 
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Nhanh chóng tìm được việc làm.</h4> 
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Hoàn toàn miễn phí.</h4> 
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
</div>
<br>
<div class="intro column is-8 is-offset-2 has-text-centered"> 
<h3 class="title is-3">Hoàn hảo dành cho học sinh, sinh viên đang tìm kiếm việc làm.</h3>
<p class="subtitle is-5">Blah blah blah blah blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
<br>
</div>
</section>-->
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="title is-1 has-text-left">
                        Jobpify
                    </h1>
                    <h3 class="subtitle is-3 has-text-left">
                        Nền tảng kết nối <mark>học sinh, sinh viên</mark> với các cơ hội việc làm.
                    </h3>
                    <!--<a class="button is-medium is-link" href="/jobs">
                            <strong>
                                Tìm việc làm ngay!
                            </strong>
                    </a>-->
                    <!--<span class="help">Hoặc đi đến trang <a href="users/sign_up">đăng ký</a> để tạo tài khoản</span>-->
                </div>
                <div class="column is-6" style="">
                    <img align="right" src="/images/home-banner-img.png" width="75%" alt="rss feed" />
                </div>
                
            </div>
                <form class="field has-addons has-addons-centered">
                      <div class="control has-icons-left has-icons-right search-field">
                          <input class="input is-large is-fullwidth is-hovered" id="search-box" size="100" type="text" placeholder="Tìm theo tên công việc" name="search" v-model="search" /><span class="icon is-medium is-left"><i class="fa fa-search"></i></span>                  
                      </div>
                      <p class="control">
                        <span class="select is-large is-hovered">
                          <select>
                            <option value="28" selected>Bất kỳ
                            </option><option value="29">
                                Bán lẻ
                              </option><option value="30">
                                Bất động sản
                              </option><option value="22">
                                Blockchain
                              </option><option value="31">
                                Chứng khoán
                              </option><option value="19">
                                Công Nghệ
                              </option><option value="38">
                                Dịch thuật
                              </option><option value="10">
                                Dịch Vụ
                              </option><option value="37">
                                Du lịch/Nhà hàng/Khách sạn
                              </option><option value="39">
                                Giải trí
                              </option><option value="18">
                                Giáo Dục
                              </option><option value="33">
                                Hành chính/Thư ký/Trợ lý
                              </option><option value="41">
                                IT
                              </option><option value="34">
                                Kế toán/Kiểm toán
                              </option><option value="49">
                                Khác
                              </option><option value="17">
                                Kinh Doanh
                              </option><option value="43">
                                Ngân hàng
                              </option><option value="40">
                                Nghệ thuật
                              </option><option value="44">
                                Nhân sự
                              </option><option value="35">
                                Quảng cáo/Marketing/PR
                              </option><option value="36">
                                Sinh viên/Mới tốt nghiệp/Thực tập
                              </option><option value="21">
                                Startup
                              </option><option value="42">
                                Tài chính
                              </option><option value="32">
                                Thiết kế
                              </option><option value="47">
                                Thời trang/Mỹ phẩm/Trang sức
                              </option><option value="46">
                                Thương mại điện tử
                              </option><option value="45">
                                Tư vấn
                              </option>
                          </select>
                        </span>
                      </p>
                </form>
        </div>
    </div>
</section>

<section class="hero is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-5 is-offset-1">
                    <img src="/images/stu.png" alt="rss feed" width="65%" />
                </div>
                <div class="column is-5">
                    <h3 class="title is-3">
                        Bạn là học sinh, sinh viên và đang tìm kiếm việc làm?
                    </h3>
                    <p></p>
                    <h4 class="subtitle is-4">
                        Jobpify là nơi hoản hảo cho bạn. Là nền tảng được xây dựng với mục đích giúp học sinh, sinh viên nhanh chóng tìm được việc làm
                        từ các nhà tuyển dụng lớn nhỏ khắp cả nước.
                        
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="section" id="pricing" style="color: black; margin-top: -20px; border-bottom: 1px solid lightgrey;">
    <div class="container">
       <h3 class="title is-3 has-text-centered">
            Tài khoản
        </h3>
        <div class="item columns" style="margin-top: 20px;">

            <div class="column is-3">

                <div style="padding: 10px 10px 10px 10px; border: 1px solid gray; border-radius: 5px;">

                    <nav class="level">
                        <div class="level-item">
                            <p style="text-align: center; font-weight: bold; color: #2d3436">Học sinh, sinh viên</p>
                        </div>
                    </nav>

                    <nav class="level">

                        <div class="level-item">
                            <p style="text-align: center; font-size: 28px; font-weight: bold; color: #25c151">
                                $0 <span style="color: gray; font-weight: normal; font-size: 20px;">/month</span>
                            </p>
                        </div>
                    </nav>

                    <p style="text-align: center; font-size: 18px;">
                        5 monitors<br>
                        1 users<br>
                        Email alerts<br>
                        <br>
                    </p>

                    <nav class="level" style="margin-top: 20px;">
                        <div class="level-item">
                            <div class="has-text-centered">
                                <a href="https://pingstack.io/app/register">
                                    <button class="button" style="margin-top: 10px; background-color: #25c151; color: white; font-weight: bold; text-transform: uppercase;">
                                        Chọn
                                    </button>
                                </a>

                                <p style="text-align: center; font-size: 12px; margin-top: 5px;">
                                    No credit card required
                                </p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="column is-3">

                <div style="padding: 10px 10px 10px 10px; border: 1px solid gray; border-radius: 5px;">

                    <nav class="level">
                        <div class="level-item">
                            <p style="text-align: center; font-weight: bold; color: #2d3436">Học sinh, sinh viên Pro</p>
                        </div>
                    </nav>

                    <nav class="level">

                        <div class="level-item">
                            <p style="text-align: center; font-size: 28px; font-weight: bold; color: #25c151">
                                $9 <span style="color: gray; font-weight: normal; font-size: 20px;">/month</span>
                            </p>
                        </div>
                    </nav>

                    <p style="text-align: center; font-size: 18px;">
                        20 monitors<br>
                        10 users<br>
                        75 SMS credits<br>
                        Webhook integration<br>
                    </p>

                    <nav class="level" style="margin-top: 20px;">
                        <div class="level-item">
                            <div class="has-text-centered">
                                <a href="https://pingstack.io/app/register">
                                    <button class="button" style="margin-top: 10px; background-color: #25c151; color: white; font-weight: bold; text-transform: uppercase;">
                                        Chọn
                                    </button>
                                </a>

                                <p style="text-align: center; font-size: 12px; margin-top: 5px;">
                                    No credit card required
                                </p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="column is-3">

                <div style="padding: 10px 10px 10px 10px; border: 1px solid gray; border-radius: 5px;">
                    <nav class="level">
                        <div class="level-item">
                            <p style="text-align: center; font-weight: bold; color: #2d3436;">Nhà tuyển dụng</p>
                        </div>
                    </nav>

                    <nav class="level">
                        <div class="level-item">
                            <p style="text-align: center; font-size: 28px; font-weight: bold;color: #25c151">
                                $0 <span style="color: gray; font-weight: normal; font-size: 20px;">/month</span>
                            </p>
                        </div>
                    </nav>

                    <p style="text-align: center; font-size: 18px;">
                        50 monitors<br>
                        20 users<br>
                        200 SMS credits<br>
                        Webhook integration<br>
                    </p>

                    <nav class="level" style="margin-top: 20px;">
                        <div class="level-item">
                            <div class="has-text-centered">
                                <a href="https://pingstack.io/app/register">
                                    <button class="button" style="margin-top: 10px; background-color: #25c151; color: white; font-weight: bold; text-transform: uppercase;">
                                        Chọn
                                    </button>
                                </a>

                                <p style="text-align: center; font-size: 12px; margin-top: 5px;">
                                    No credit card required
                                </p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="column is-3">

                <div style="padding: 10px 10px 10px 10px; border: 1px solid gray; border-radius: 5px;">
                    <nav class="level">
                        <div class="level-item">
                            <p style="text-align: center; font-weight: bold; color: #2d3436;">Nhà tuyển dụng Pro</p>
                        </div>
                    </nav>

                    <nav class="level">
                        <div class="level-item">
                            <p style="text-align: center; font-size: 28px; font-weight: bold; color: #25c151">
                                $19 <span style="color: gray; font-weight: normal; font-size: 20px;">/month</span>
                            </p>
                        </div>
                    </nav>

                    <p style="text-align: center; font-size: 18px;">
                        100 monitors<br>
                        30 users<br>
                        300 SMS credits<br>
                        Webhook integration<br>
                    </p>

                    <nav class="level" style="margin-top: 20px;">
                        <div class="level-item">
                            <div class="has-text-centered">
                                <a href="https://pingstack.io/app/register">
                                    <button class="button" style="margin-top: 10px; background-color: #25c151; color: white; font-weight: bold; text-transform: uppercase;">
                                        Chọn
                                    </button>
                                </a>

                                <p style="text-align: center; font-size: 12px; margin-top: 5px;">
                                    No credit card required
                                </p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>


<section class"container"> 
<div class="hero-body"> 
<div class="columns features"> 
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Giao diện tối giản và thân thiện.</h4>
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Trình soạn thảo trực tuyến hiện đại.</h4>
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Nhiều dịch vụ bổ trợ.</h4>
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
</div>
<div class="columns features"> 
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Tối ưu hóa quá trình tuyển dụng.</h4> 
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Nhanh chóng tìm được việc làm.</h4> 
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
<div class="column is-4"> 
<div class="card is-shady"> 
<div class="card-content"> 
<div class="content"> 
<h4>Hoàn toàn miễn phí.</h4> 
<p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
</div>
</div>
</div>
</div>
<br>
<div class="intro column is-8 is-offset-2 has-text-centered"> 
<h3 class="title is-3">Hoàn hảo dành cho học sinh, sinh viên đang tìm kiếm việc làm.</h3>
<p class="subtitle is-5">Blah blah blah blah blah blah blah blah blah blah blah. Blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
</div>
<br>
</div>
</section>
