// *= require trix

@import "bulma";
@import "functions";
@import "jobs";
@import "stripe";

body {
  //background-color: #f8f8f8;
}
.has-background-f8 {
  background-color: #f8f8f8;
}
h1 {
  font-family: 'Bungee', cursive;
}
h2, h3, h4, h5, h6, p, a, label, .control {
  font-family: 'Roboto', sans-serif;
}
.notification {
  border-radius: 0;
}
.notification:not(:last-child) {
  margin-bottom: 0;
}
.hint {
  font-size: small;
}
.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}
.trix-editor {
  display: block;
}
.trix-content{
    height: 500px;
    overflow-y: auto;
}
.card+.card {
	margin-top: 20px
}
.input {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0px;
}
.box {
  border-radius: 0;
}
.navbar-dropdown {
  border-radius: 0;
  box-shadow: none;
  border-left: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
}
.list {
  border-radius: 0;
}
.trix-content {
  border-radius: 0;
}
.dyn-height {
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}
textarea {
  resize: none;
}
.button {
  border-radius: 0;
}
.disable-this {
  pointer-events: none;
  cursor: block;
  user-select: none;
}
.dropdown-content {
  border-radius: 0;
}
.list-item:hover {
  border-radius: 0;
  background-color: grey;
}
.card {
  box-shadow: none;
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
}
mark {
  background-color: $warning;
}
.select select {
  cursor: default;
  width: 300px;
  border-radius: 0;
}

/* Icon Buttons */
ul#icons-ul {
  margin: 50px 0 0;
  padding: 0;
}
li#icons-li {
  cursor: pointer;
  list-style: none;
  display: inline;
  margin: 0 75px 0 0;
  padding: 0;
}
ul#icons-ul li#icons-li .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin: 0 auto;
}
ul#icons-ul li#icons-li .icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #4f4f4f;
}
ul#icons-ul li#icons-li:hover .icon svg {
  color: #fff;
}
ul#icons-ul li#icons-li .blind {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #173b66;
  opacity: 0;
  mix-blend-mode: color;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
ul#icons-ul li#icons-li:hover .blind {
    opacity: 1;
    width: 100px;
    height: 100px;
}
/* Icon Buttons */
